@model IEnumerable<Player>
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Player</title>
</head>
<body>
    <main>
        <table>
            @foreach (Player player in Model)
            {
                <tr>
                    <td>@player.FirstName @player.LastName</td>
                    <td>FeildName : @player.FieldName</td>
                </tr>
                <tr>
                    <td>Birth-Date: @player.BirthDate.ToString("MM/dd/yyyy")</td>
                    <td>Gender : @player.Gender</td>
                </tr>
                <tr>
                    <td>Country : @player.Country</td>
                    <td>Club : @player.Club</td>
                </tr>
                <tr>
                    <td>
                        <a class="button" asp-action="EditPlayer" asp-route-id="@player.ID">
                            Update
                        </a>
                    </td>
                    <td>
                        <form asp-action="Delete" method="post">
                            <input type="hidden" name="ID" value="@player.ID" />
                            <button class="button" type="submit">Delete</button>
                        </form>
                    </td>

                </tr>
            }
        </table>
    </main>
</body>
</html>
