@model IEnumerable<Player>
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Player</title>
</head>
<body>
    <main>
        <table>
            @foreach (Player player in Model)
            {
                <tr>
                    <td>@player.FirstName @player.LastName</td>
                    <td>FeildName : @player.FieldName</td>
                </tr>
                <tr>
                    <td>Birth-Date: @player.BirthDate.ToString("MM/dd/yyyy")</td>
                    <td>Gender : @player.Gender</td>
                </tr>
                <tr>
                    <td>Country : @player.Country</td>
                    <td>Club : @player.Club</td>
                </tr>
                <tr>
                    <td>
                        <button class="button">Update</button>
                        <button class="button">Delete</button>
                    </td>

                </tr>
            }
        </table>
    </main>
</body>
</html>
